body{
    font-family: 'Work Sans', sans-serif
}
.container{
    padding-bottom: 60px;
}
.navbar{
    background-color: rgb(255, 255, 255) !important;
    border-bottom: 1px solid rgb(110, 101, 101);
    
    
}
.caro-bg, .foot-bg{
    background-color: rgb(225, 206, 247);
    border-radius: 20px;

}
.carousel-inner{
    padding: 60px 60px;
}
.pricing{
    color: blueviolet;
    font-weight: bolder;
}
.buy-now,.submit{
    background-image: linear-gradient(to bottom,rgb(171, 99, 238) 0,blueviolet 100%);
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    color: aliceblue;
    cursor: pointer;
}

.cat1{
    background-color: tomato;
    transition: background-color 0.50s ease-out ;
      
}
.cat2{
    background-color: rgb(71, 255, 148);
    transition: background-color .50s ease-out ;
}
.cat3{
    background-color: rgb(255, 252, 71);
    transition: background-color .50s ease-out ;
}
.cat1, .cat2, .cat3 {
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.cat1:hover{
    background-color: rgb(252, 9, 9);
    text-decoration:underline ;
   
    
}
.cat2:hover{
    background-color: rgb(3, 187, 79);
    text-decoration: underline;
}
.cat3:hover{
    background-color: rgb(235, 231, 0);
    text-decoration: underline;
}
.card{
   border: none;
   box-shadow: 0.5px 0.5px 6px rgb(216, 216, 216);
}
.foot-bg{
    height: 300px;
}
#sub{
    height: 300px;
       
}
.sub p{
    color: dimgray;

}
.sub input{
   margin-top: 7px;
}